@import url(https://use.fontawesome.com/releases/v5.0.6/css/all.css);
/* .navbar-dark{
    background-color: aquamarine;

} */
/* #home {
    --first-color: #c9370a;
    --second-color: #f4e767;    
    --light-gray: lightgray;
} */

* {
    font-family: Lato, sans-serif !important;
}

a, a:link, a:hover, a:active {
    text-decoration: none;
    color: #000; 
}

.navbar-dark .navbar-nav .active > .nav-link {
    color: rgba(255,255,255,0.5);
}

h5 {
    font-family: Lato, sans-serif !important;
}

.head {
    font-weight: 100;
}

#focusme {
    color: #f4ffff !important;
}

.favicon{
    border-radius: 50%;
    resize: both;
}
.footer{
    position: bottom;
}

p{
    color: #999;
    line-height: 25px;
}
h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #337ab7;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

footer h2:after {
    display: block;
    height: 2px;
    background-color: #c65039;;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

h4, h5{
    font-weight: 100 !important;
}

.dropdown:hover>.dropdown-menu{
    display: block;
}
.dropdown-menu{
    width: fit-content;
}

.navbar {
    height: 86px;
    padding-left: 0 !important;
}

.navbar-brand img {
    height: 3.5rem;
    width: 3.5rem;
    margin: 12px;
    padding: auto;
    border-radius: 50%;
    float: left;
}

.navbar-brand h4 {
    font-size: 20px;
    float: left;
    height: max-content;
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
    line-height: 100%;
    color: #f4ffff;
}

@media only screen and (max-width: 1080px) {
    .navbar {
        height: auto;
    }
    .navbar-brand h4{
        display: none;
    }
}

figure.hero {
    position: relative;
    height: 0;
    padding-left: 0;
    padding-bottom: 35%;
    overflow: hidden;
    margin: 0;
}
figure.hero img {
	-webkit-filter: blur(3px);
	filter: blur(3px);
    transform: scale(1.03);
}
figure.hero figcaption{
    position: absolute;
    font-style: normal;
    padding: 0;
    margin: 0;
    left: 0;
    top: 50%;
    color: white;
    
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    background-color: rgba(0,0,0,.6);
    padding: 20px 0;
}
figure.hero figcaption * {
    font-weight: bold;
    font-size: 1.4em;
    text-transform: uppercase;
    color: white;
    margin: 0;
    padding: 0;
}

/*-----------------------------------------------------*/
/*-------------------Footer----------------------------*/
/*-----------------------------------------------------*/
.footer{
    background: #111;
    padding: 80px 0;
}
/* .segment-one{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #fff;
    letter-spacing: 3px;
    margin: 10px;
} */
.segment-two h2{
    color: azure;
    font-family: Lato, sans-serif;
    text-transform: uppercase;

}

.segment-two ul{
    margin: 0;
    padding :0;
    list-style: none;
}
.segment-two ul li{
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    line-height: 40px;
}
.segment-two ul li a{
    color: #999;
    text-decoration: none;
}
.segment-three h2{
    color: #fff;
    font-family: Lato, sans-serif;
    text-transform: uppercase;
}

.segment-three a{
    background: #494848;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
}
.segment-three a i{
    font-size: 20px;
    color: #fff;
    padding: 10px 12px;
}
.segment-four h2{
    color: #fff;
    font-family: Lato, sans-serif;
    text-transform: uppercase;
}

.segment-four form input[type=submit]{
    background: #c65039;
    border: none;
    padding: 3px 15px;
    margin-left: -5px;
    color: #fff;
    text-transform: uppercase;
}
.footer-bottom-text{
    text-align: center;
    line-height: 75px;
    background: #000;
    margin-bottom: auto;
}

/* ------------------------------------------------------ */
/*                           MOU                          */
/* ------------------------------------------------------ */

.my-5 h4 {
    font-size: 22px;
    font-weight: 400 !important;
}

.list-group-item-text {
    font-size: 18px;
    color: #000;
}

.my-5 p {
    float: left;
}

.download-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 40px;
    width: 100px;
    color: #fff !important;
    background-color: #337ab7;
    border-radius: 0.25rem;
    font-size: 12px;
    box-shadow: inset 0.2em 0.2em 0.2em 0 rgba(255,255,255,0.5), inset -0.2em -0.2em 0.2em 0 rgba(0,0,0,0.5);
}

.download-btn:hover {
    transform: scale(0.96);
}

.download-btn {
    float: right;
}

.list-group {
    height: 70vh;
    overflow-y: scroll;
}

.list-group-item:nth-child(1) {
    background-color: rgba(214, 93, 72, 0.705);
}

.list-group-item:nth-child(1) p {
    color: #fff;
}

.list-group-item:nth-child(1) a {
    color: rgb(60, 89, 214);
}

/*-----------------------------------------------------*/
/*-------------------Card----------------------------*/
/*-----------------------------------------------------*/
/* 
.card-image{
    height: 260px;
    margin: 10px;
} */

/* responsive css is due */
 @media only screen and (min-width: 768px) and (max-width: 991px){
     .md-mb-30{
         margin-bottom: 30px;
     }
 }

 @media only screen and (max-width: 767px){
     .sm-mb-30{
         margin-bottom: 30px;
     }
     .footer{
         padding: 50px 0;
     }
 }