/* Big tablet to 1200px (widths smaller taht the 1140px row) */
@media (min-width: 1080px) {
    .gallery {
        margin: auto;
      }
}

@media only screen and (max-width: 1200px) {
    .row { padding: 0 2%; }

}

/* Remove second carousel */
@media only screen and (max-width: 1118px) {
.main-nav { display: none; }

    .icon {
        display: block;
    }
    .col {
        padding: 1rem;
    }
    p {
        margin-left: 5%;
        width: 100%;
    }
}


/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
    body { font-size: 18px; }
    section { padding: 60px 0; }
    
    
}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 890px) {
    body { font-size: 16px; }
    .mid-bg {
        height: 600px;
        background-size: cover;
    }
    
    .row,
    .hero-text-box { padding: 0 4%; }
    .col { 
        width: 100%;
        margin: 0 0 8% 0;
    }

    .act { width: 90vw; }
    .act .gallery { padding: 20px 0rem; }
    
    .row {
        height: auto;
    }
    
    .main-nav, .head { display: none; }

    .header-overlay {
        z-index: 2;
    }

    .icon {
        display: block;
    }

    .logo {
        margin-right: 0;
    }

    .main-nav {
        float: left;
        margin-top: 30px;
        margin-left: 25px;
    }
    
    .main-nav li {
        display: block;
    }
    
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%;
    }

    
    h1 { font-size: 180%; }
    h2 { font-size: 150%; }
    
    p {
        width: 100%;
        margin-left: 0%;
    }
        
}



/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    .mid-bg {
        height: 900px;
    }
}